body {
    background-color: lightskyblue;
}

.btn {
    position: absolute;
    margin-top: 15%;
    margin-left: 43%;
    padding: 20px 60px;
    border-radius: 10px;
    background-color: lightgreen;
}

.btn:hover {
    transform: scale(1.3);
    transition: 1.1s;
}

.sizescreen {
    position: absolute;
    margin-top: 25%;
    margin-left: 41%;
}

.geo {
    position: absolute;
    margin-top: 30%;
    margin-left: 44%;
}
